body{

    background-color: lightgray;
}

header{

    background-color: black;
    
}

footer{

    background-color: black;
    color: yellow;
    position: absolute;
    

}


h1{

    text-align: center;
}



img{

    width: 355px;
    height: 255px;
    border-radius: 50%; 
    text-align: center; 

       

}

.articleOne{

    float: left;
    margin-top: 15px;
    margin-left: 85px;
}

.articleTwo{

    float: right;
    margin-top: 15px;
    margin-right: 85px;
}










